<h1>New Message</h1>

<%= render 'form', message: @message %>

<%= link_to 'Back', messages_path %>
<script type="text/javascript">
    $('.open_notification').click(function(){
     alert("The paragraph was clicked. dong");
  })

</script>
