<!-- <table class="table table-hover" >
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>one</td>
      <td>true</td>
      <td>three</td>
    </tr>
  </tbody>
</table>
<button id = "test_1"> dong</button>

<div class="big small" title="test" data-name="thanh dong">
  <p>text 1</p>
</div>
<div>
  <p>text 2</p>
</div>
<div>
  <p>text 3</p>
</div>

<a href="#" id="link_href" > google </a>
<br>
<button id="btn1"> click </button>
<button id='btn2'> click 2 </button>
<button id='btn3'> click 3</button>
<script type="text/javascript">
</script> -->

<!-- <select id="skill" multiple>
  <option>Choose langue</option>
  <option value="c#">C#</option>
  <option value="c++">C++</option>
  <option value="java">java</option>
</select>
<button id="btnsubmit"> Submit </button>
<div id="result"></div> -->
<!-- <ul>
  <li>US</li>
  <li>VN</li>
  <li>CN</li>
</ul> -->

<div> PHP </div>
<div> Ruby </div>
<div><h1 id="ajax"> Request to server </h1></div>
<%= javascript_include_tag "learn_jquery" %>
